
### Work-in-progress workspace for creating the STAC collections ###

# This could contain a lot of work-in-progress data from generating STAC collections.
# Docker image should not contain those.
config-datasets/*


### Python ###
# Byte-compiled / optimized / DLL files

__pycache__
*.py[cod]
*$py.class
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis


### IDEs ###

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# VS code
.vscode/


### Environments ###

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version


### Distribution / packaging ###

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


### Unit test / coverage reports ###

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


### Various Tooling ###

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Spyder project settings
.spyderproject
.spyproject


# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# ruff
.ruff_cache/


### Other ###

# Sometimes test output from generating STAC collections goes here
# Though we are avoiding that more and more now.
# The unit tests no longer use it.
tmp/


# statistics files for profiling performance, output of the cProfile module.
*.stats


# Same reason as in .gitignore:
# This folder is intended as a place to put files that you do want to keep
# close to your code but they should never go into git or a docker image.
# You could have a directory structure where it lives in the parent dir next
# to your git repository, but that can complicate thing in other ways.
# It is going to happen anyway at some point, so it is better to give it
# a safe place beforehand.
.local
